body {
    background-color: rgb(170, 170, 170);
}

section {
    background-color: white;
    margin: 20px;
    padding: 10px;
}

@media (min-width: 576px) {
    .container {
        margin-right: 35%;
        width: 60%;
    }
}