body {
    background-color: rgb(200, 200, 200);
}

h1 {
    color: rgba(131,58,180,1);
}

.container {
    background-color: white;
    margin-top: 20px;
    padding: 10px;
    width: 95%;
    margin-bottom: 10%;
}

.float-left {
    float: left;
    margin-right: 25px;
    max-width: 40%;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(30, 30, 30);
    color: white;
    text-align: center;
    border-top: 5px solid rgb(131,58,180,1);
    padding-top: 15px;
}

@media (min-width: 576px) {
    section {
        margin-right: 35%;
        margin-left: 5%;
        width: 60%;
    }
}